body{
    background-color: #F6F6F6;
}
.category{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.category li{
    list-style-type: none;
    margin: 10px 0;
}
.category span {
    cursor: pointer;
    transition: .3s linear;
}
.category span:hover{
    color: #000 !important;
}
.awesome-color{
    color: rgb(244, 191, 57);
}
@media all and (max-width: 575px){
    .category{
        flex-direction: column;
    }
    .category li{
        margin: 5px 0;
    }
}